## Introduction to Python
#### Contents:
1. Variables
2. Data Types
3. Operators
4. Conditionals
5. For Loops
6. Functions

### 1. Variables

In [ ]:
i_am_a_variable = 1
i_am_another_variable = 2

print (i_am_a_variable)
print (i_am_another_variable)

In [ ]:
new_variable = i_am_a_variable 
print (new_variable)

In [ ]:
new_variable = 0
print (new_variable)

In [ ]:
new_variable = new_variable * i_am_a_variable
print (new_variable)

### 2. Data Types

In [ ]:
# Integers
a = 1
print (a)
print (type(a))

In [ ]:
# Floats
b = 0.5
print (b)
print (type(b))

In [ ]:
# Booleans
x = True
print (x)
print (type(x))

y = False
print (y)
print (type(y))

In [ ]:
# String
name = 'python'
print (name)
print (type(name))

# special characters
str1 = '\n Hello \t World'
print (str1)

In [ ]:
# Lists
list_a = [1,2,3]
print (list_a)
print (type(list_a))

In [ ]:
# lists can have any type of variable
list_b = [1,1.2,'apple']
print (list_b)
print (len(list_b))

list_b = [1,'apple']
print (list_b)
print (len(list_b))

In [ ]:
# slicing a list
list_c = [100,200,300,400]
print (list_c)

# selecting the first item
print (list_c[0])

a = list_c [1]
print (a)

In [ ]:
# selecting the last item
z = list_c [-1]
print (z)

In [ ]:
# selecting a part of the list (few items)
list_d = list_c[0:2]
print (list_d)

### 3. Operators

Arithmetic Operations (+ - * /)

In [ ]:
a = 10
b = 2.5

In [ ]:
print ('a = 10\nb = 2.5')
print ('a+b =', a+b)
print ('a-b =', a-b)
print ('a*b =', a*b)
print ('a/b =', a/b)

In [ ]:
# Modulus (x%y):	Remainder of x divided by y
x = 15
y = 4
print (x%y)
# 15 = (4*3) + 3

z = 3
print (x%z)
# 15 = (3*5)

Comparison Operations (== != < > <= >=)

In [ ]:
a = 10
b = 7

print ('a = 10\nb = 7')
print ('\n')
print ('a==b', a==b)

In [ ]:
print ('a!=b', a!=b)
print ('a<b', a<b)
print ('10>=10', 10>=10)

### 4. Conditionals

In [ ]:
# if statements
a = 10
if (a > 5):
    print ('a is bigger than 5')

In [ ]:
# else statement
a = 10
if (a <= 5):
    print ('a is smaller than 5')
else:
    print ('a is bigger than 5')

In [ ]:
# elif for when we are having more than one condition
a = 10
b = 5
c = 8

if (c > a):
    print ("'c' is larger than 'a'") 
elif (c > b):
    print ("'c' is larger than 'b'")
else:
    print ("'c' is smaller than 'a' and 'b'")

### 5. Loops

In [ ]:
print('Lets print a series of numbers')

for i in range(10): # range(10) = 0,1,2,3,...,9
    print(i)

In [ ]:
for i in range(5,10): # range(5,10) = 5,6,7,8,9
    print(i)

In [ ]:
list_a = ['one','two','three']
for i in list_a:
    print (i)

In [ ]:
# printing the length of list_a
print (len(list_a))

In [ ]:
for i in range(len(list_a)):
    print (i)

In [ ]:
for i in range(len(list_a)):
    print (list_a[i])

In [ ]:
for i in range(20):
    if i % 2 == 0:
        print (i)

In [ ]:
a = [1,2,3,4,'five', 'six', 'seven']
for i in a:
    if type(i) == str:
        print (i)

In [ ]:
for i in a:
    if type(i) == int:
        print (i)

### 6. Lists part II

In [ ]:
a = [1,2,3,4]
print (a)

In [ ]:
a.append(5)
print (a)

In [ ]:
a.append(6)
print (a)

In [ ]:
a = []
for i in range(10):
    a.append(i)
    print ('i:', i)
print ('a:', a)

### 7. Functions

In [ ]:
def addition(a,b):
    c = a+b
    return c

print (addition(2,10))

In [ ]:
def sum(numbers):
     s = 0
     for n in numbers:
           s = s + n
     return s


print ('a:', a)
print (sum(a))

## Exercise 1

In [ ]:
import random

# inputs are three lists of even numbers, odd numbers and a list of names
# as well as a list with combination of all of the three lists together called "all"

even_numbers = [0,2,4,6,8,10]
odd_numbers = [1,3,5,7,9]
names = ["Leonard", "Trista", "Anneliese", "Susie", "Rocio", "Concetta", "Nancy", "Shea", "Ezra", "Maia"]

all = even_numbers + odd_numbers + names
print ("ordered list:\n",all)


# task1: separate the "all" list into two lists of numbers and text
"""
(hint)
create two empty lists
go through each item in the list 'all'
if it's text add it to the list of names,
if it's a number add it to the list of numbers
"""


# task2: we have shuffled the list "all".
# create again the three lists of even numbers, odd numbers and names (order of items is not important)

"""
(hint)
create three empty lists
go through each item in the list 'all'
if the type is string, add it to the list of names, if not:
    if the number is even, add it to list of even numbers, 
    otherwise add it to the list of odd numbers
"""

random.shuffle(all)
print ("shuffled list:\n", all)

## Exercise 2

In [ ]:
# write a function that computes the average number of a given list of numbers
def find_average(list_a):
    
    
    return avg_number

list_a = [10,11,12,19]